{%- comment -%}
  In order to avoid showing "success" message when we post comments
  with invalid format (eg. blank fields), we added logic to make sure it doesn't show.

  Comment help page:
  http://docs.shopify.com/themes/liquid-variables/comment
{%- endcomment -%}

{%- assign new_comment = false -%}
{%- assign number_of_comments = article.comments_count -%}

{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- comment -%}
    When you refresh the page with submitted comment, the comment is duplicated
    so we added a flag to avoid this situation.
  {%- endcomment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless duplicate_comment -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endunless -%}
{%- endif -%}

<div class="blog">

  <div class="container">
    <h3 class="blog-title">{{ blog.title }}</h3>
    <div class="row justify-content-center hide-print">
      <div class="col-md-3 d-none d-md-block">
        <a href="{{ blog.url }}" class="blog-backlink"><span class="icon-angle-left blog-backlink-icon"></span>Back</a>
      </div>
      <div class="col-md-6">
        {% include 'breadcrumbs' %}
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row">
      <div class="col-lg-9">

        <article class="blog-article" role="article">
          <header role="banner">
            <h1 class="blog-article__title">{{ article.title }}</h1>
            {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
            <p class="blog-article__info">{{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}</p>

            {% if article.image %}
              {% include 'responsive-image' with
                image: article.image,
                max_width: 900,
                max_height: 500,
                wrapper_class: 'blog-article__image-wrap',
                img_class: 'blog-article__image'
              %}
            {% endif %}
          </header>

          {% if settings.social_sharing_blog %}
            <div class="blog-article__utilities">
              <button type="button" class="blog-article__social blog-article__social--margin" data-info-share-toggle>
                <span class="blog-article__social-icon icon-share"></span>
                <span class="blog-article__social-text">Share</span>
              </button>
              <a href="javascript:window.print()" class="blog-article__social">
                <span class="blog-article__social-icon icon-document"></span>
                <span class="blog-article__social-text">Print</span>
              </a>
              {% capture absolute_url %}{{ shop.secure_url }}{{ page.url }}{% endcapture %}
              {% include 'social-sharing',
                share_title: page.title,
                share_permalink: absolute_url
                attributes: 'data-info-sharing'
              %}
            </div>
          {% endif %}

          {% if settings.social_sharing_blog %}
            {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
          {% endif %}

          <div class="rte blog-article__content">
            {{ article.content }}
          </div>

          {% if article.tags.size > 0 %}
            <ul class="blog-article__tags">
              {% for tag in article.tags %}
                <li class="blog-article__tag">
                  <a class="blog-article__tag-link" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if blog.comments_enabled? %}
            {% include 'blog-comments' %}
          {% endif %}

        </article>

      </div>
      <div class="col-lg-3">
        {% include 'blog-sidebar' %}
      </div>
    </div>
  </div>

  {% section 'info-cta' %}
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{{ article.content | strip_html }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ article.title }}",
  {% if article.excerpt != blank %}
    "description": "{{ article.excerpt | strip_html }}",
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      "https:{{ article | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% elsif article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ article.image.height }}",
        "url": "https:{{ article.image | img_url: image_size }}",
        "width": "{{ article.image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name }}"
  }
}
</script>
