{%- assign blog_title = blog.title -%}
{% if current_tags %}
  {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
{% endif %}

<div class="blog">

  <div class="container">
    <h1 class="blog-title">{{ blog_title }}</h1>

    {% if blog.all_tags.size > 0 %}
      <h2 class="blog-subtitle">{{ 'blogs.general.categories' | t }}</h2>
      <ul class="blog-tags">
        {% for tag in blog.all_tags %}
          {% if current_tags contains tag %}
            <li class="blog-tag">{{ tag }}</li>
          {% else %}
            <li class="blog-tag">{{ tag | link_to_tag: tag }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    <div class="row">
      <div class="col-lg-9">
        {% paginate blog.articles by 10 %}
          {% for article in blog.articles %}
            <div class="blog-article">
              <h3 class="blog-article__title">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h3>

              {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
              <p class="blog-article__info">
                {{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}
              </p>

              {% if article.image %}
                <a href="{{ article.url }}">
                  {% include 'responsive-image' with
                    image: article.image,
                    max_width: 900,
                    max_height: 500,
                    wrapper_class: 'blog-article__image-wrap',
                    img_class: 'blog-article__image'
                  %}
                </a>
              {% endif %}

              <div class="rte blog-article__content">
                {% if article.excerpt.size > 0 %}
                  {{ article.excerpt }}
                {% else %}
                  <p>
                    {{ article.content | strip_html | truncatewords: 60 }}
                  </p>
                {% endif %}
              </div>

              {% if blog.comments_enabled? or article.tags.size > 0 %}
                <ul class="blog-article__tags">
                  {% if blog.comments_enabled? %}
                    <li class="blog-article__tag">
                      <a class="blog-article__tag-link" href="{{ article.url }}#comments">
                        {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                      </a>
                    </li>
                  {% endif %}

                  {% if article.tags.size > 0 %}
                    {% for tag in article.tags %}
                      <li class="blog-article__tag">
                        <a class="blog-article__tag-link" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                        {% unless forloop.last %}, {% endunless %}
                      </li>
                    {% endfor %}
                  {% endif %}
                </ul>
              {% endif %}

              <p>
                <a class="blog-read-more" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a>
              </p>
            </div>

          {% endfor %}

          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}

        {% endpaginate %}

      </div>
      <div class="col-lg-3">
        {% include 'blog-sidebar' %}
      </div>
    </div>
  </div>

  <div class="max-wrap">
    {% section 'info-cta' %}
  </div>
</div>
