<div class="product-authorization">
  <img class="product-authorization__icon" src="{{ '../assets/images/icon-authorized.png' | asset_img_url: '60x' }}" alt="Register"/>
  <div class="product-authorization__content">
    <p>{{ auth_note }}</p>
    {% if auth_video %}
      <a data-toggle-authorization-modal href="{{ auth_url }}" class="product-content__button">{{ auth_l_text }}</a>
      <br>
    {% endif %}
    <br>
    <p>If you already have an authorization, <a href="/account/login/">log in</a></p>
  </div>
</div>

{% if auth_video %}
  <div class="product-authorization__video-wrapper" data-authorization-modal style="display:none">
    <div class="product-authorization__video-background" data-toggle-authorization-modal></div>
    <div class="product-authorization__video-box">
      <button class="product-authorization__video-close" data-toggle-authorization-modal><span class="icon-close"></span></button>
      <video class="product-authorization__video" width="640" height="360" data-authorization-video>
        <source src="{{ auth_video }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
{% endif %}