{% assign modulo = index | modulo: 2 %}
{% assign p_tags = product-item.tags %}
{%- assign current_p_i_variant = product-item.selected_or_first_available_variant -%}

{% comment %} obscured product - when we show the product, but cannot allow adding it to cart {% endcomment %}
{% assign obscured_product = false %}
{% if p_tags contains "obscured-product" %}
  {% assign obscured_product = true %}
{% endif %}

{% if product-item.tags contains "authorization" %}
  {% assign needs_authorization = true %}
{% else %}
  {% assign needs_authorization = false %}
{% endif %}

{% if customer and customer.tags contains "has_authorization" %}
  {% assign has_authorization = true %}
{% else %}
  {% assign has_authorization = false %}
{% endif %}

{% assign can_buy = false %}
{% if needs_authorization %}
  {% if has_authorization %}
    {% assign can_buy = true %}
  {% endif %}
{% else %}
  {% assign can_buy = true %}
{% endif %}

<div class="product-item {% if modulo == 0 %}product-item--even{% else %}product-item--odd{% endif %}" itemscope itemtype="http://schema.org/Product" data-product-item>
  {% unless product-item == empty %}
    <script type="application/json" data-product-item-json>
      {{ product-item | json }}
    </script>
  {% endunless %}
  <meta itemprop="name" content="{{ prod.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ prod.url }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '800x' }}">
  <meta itemprop="description" content="{{ prod.description | strip_html | escape }}">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ prod.price | divided_by: 100.00 }}">
  <link itemprop="availability" href="http://schema.org/{% if prod.available %}InStock{% else %}OutOfStock{% endif %}">
  <div class="product-item__background"></div>

  {% include 'swym-product-view', product: product-item %}
  <button class="product-item__wishlist-link product_{{ product-item.id }}" data-swaction="addToWishlist" data-product-id="{{ product-item.id | json }}">
    <span class="icon-heart product-item__wishlist-icon"></span>
  </button>

  <a href="{{ product-item.url | within: collection }}" class="product-item__link">
    <span class="product-item__tag-wrap">
      {% include 'product-tags' with product-item %}
    </span>
    {%- assign p_item_variant = product-item.selected_or_first_available_variant -%}
    {%- assign p_item_featured = p_item_variant.featured_image | default: product-item.featured_image -%}

    {% if p_item_variant.featured_image %}
      {% for image in product-item.images %}
        {% capture wrapper_class %}product-gallery__image-wrapper {% unless p_item_featured == image %} hide{% endunless %}{% endcapture %}
        {% include 'responsive-image' with
          image: image,
          image_attributes: "data-product-featured-image",
          wrapper_attributes: "data-product-image-wrapper",
          wrapper_class: wrapper_class,
          image_class: 'product-item__image',
          max_width: 370,
          max_height: 370,
          span: true,
        %}
      {% endfor %}
    {% else %}
      <span class="product-item__image-wrap"></span>
    {% endif %}
    <h4 class="product-item__title">{{ product-item.title }}</h4>
    <span class="product-item__description">{{ product-item.description | strip_html | truncatewords: 15 }}</span>
  </a>

  <div class="flex-shaper"></div>

  {% if p_tags contains "authorization" %}
    <div class="product-item__authorization">Needs authorization</div>
    <span class="hide" data-authorization-required=true></span>
  {% else %}
    <span class="hide" data-authorization-required=false></span>
  {% endif %}

  {% unless obscured_product %}
    <div class="product-item__price" data-product-item-price-wrapper>
      <span data-product-item-price>
        {{ current_p_i_variant.price | money }}
      </span>
      {% if current_p_i_variant.compare_at_price > current_p_i_variant.price %}
        <s data-product-item-compare-price>
          {{ current_p_i_variant.compare_at_price | money }}
        </s>
      {% endif %}
    </div>

    {% if can_buy %}
      <form class="product-item__form d-none d-md-block" action="/cart/add" method="post" enctype="multipart/form-data">
        <input type="hidden" name="product-id" value="{{ product-item.id }}"/>
        <input type="hidden" name="product-title" value="{{ product-item.title }}"/>
        <input type="hidden" name="quantity" value="1">
        <select name="id" class="no-js" data-product-item-select>
          {% for variant in product-item.variants %}
            <option
              {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
              value="{{ variant.id }}">
                {{ variant.title }}
            </option>
          {% endfor %}
        </select>

        {% assign var_selected = false %}
        {% unless product-item.has_only_default_variant %}
          {% for option in product-item.options_with_values %}
            {% comment %} <div class="product-item__option-name">{{ option.name }}</div> {% endcomment %}
            <div class="product-item__variants-wrap {% if forloop.last %}product-item__variants-wrap--last{% endif %} {% if option.values.size == 1 %}product-item__variants-wrap--constrict{% endif %}" data-product-item-option>
              {% for value in option.values %}
                <div class="product-item__variant-wrap">
                  <input
                    class="product-item__variant"
                    type="radio"
                    name="variation-radio-{{ option.name | handleize }}"
                    value="{{ value | escape }}"
                    data-product-item-option-input
                    data-index="option{{ option.position }}"
                    {% if product-item.available %}
                      {% if forloop.index == 1 %}
                        checked="checked"
                      {% endif %}
                    {% endif %}
                    />
                  <label class="product-item__variant-label">{{ value }}</label>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        {% endunless %}

        <button
          class="product-item__form-submit"
          type="submit"
          name="add"
          data-add-to-cart
          data-product-item-add-button
          {% unless product-item.available %}disabled="disabled"{% endunless %}>
            <span data-add-button-text>
              {% if product-item.available %}
                {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
        </button>
      </form>
      <div class="text-center d-block d-md-none">
        <a href="{{ product-item.url }}" class="product-item__form-submit ">Learn more</a>
      </div>
    {% else %}
      <div class="text-center">
        <a href="{{ product-item.url }}" class="product-item__form-submit ">Learn more</a>
      </div>
    {% endif %}
  {% endunless %}
</div>
