<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        {%- assign footer_linklist = section.settings.footer_linklist -%}
        {% if linklists[footer_linklist].links.size > 0 %}
          <div class="site-footer__navigation">
            <div class="row">
              <div class="col-sm-6">
                {% for link in linklists[footer_linklist].links %}
                  <a href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-lg-4 col-md-2">
        <div class="site-footer__logo">

        </div>
      </div>
      <div class="col-lg-4 col-md-5">
        <div class="site-footer__newsletter">
          <p class="site-footer__newsletter-text">{{ section.settings.newsletter_text }}</p>
          <form action="#" class="site-footer__newsletter">
            <input type="text" class="site-footer__newsletter-input" placeholder="Enter your email">
            <input type="submit" class="site-footer__newsletter-submit" value="SUBSCRIBE">
          </form>
        </div>
        {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo, LinkedIn' | split: ', ' -%}
        <ul class="site-footer__socials">
          {% for social in social_accounts %}
            {%- assign social_handle = social | handleize -%}
            {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
            {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

            {% if settings[social_link] != blank %}
              <li class="site-footer__social">
                <a href="{{ settings[social_link] }}" class="site-footer__social-link" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                  {% include social_icon %}
                  <span class="icon-fallback-text">{{ social }}</span>
                </a>
              </li>
            {% endif %}

          {% endfor %}
        </ul>
      </div>
    </div>
    <p class="site-footer__copyright">
      &copy; {{ 'Face Reality Acne Clinic' | link_to: '/' }} 2012-{{ 'now' | date: "%Y" }} &middot; All Rights Reserved &middot; {{ powered_by_link }}
    </p>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "textarea",
        "id": "newsletter_text",
        "label": "Newsletter Text"
      }
    ]
  }

{% endschema %}
