<section class="usp-4up max-wrap">
  <div class="row no-gutters">
    {% for block in section.blocks %}
      <div class="col-lg col-md-12 flex">
        {% assign modulo = forloop.index | modulo: 2 %}
        {% if modulo == 0 %}
          {% assign even_odd = 'usp-4up__col--even' %}
        {% else %}
          {% assign even_odd = 'usp-4up__col--odd' %}
        {% endif %}
        {% assign is_last = '' %}
        {% if forloop.last %}
          {% assign is_last = 'usp-4up__col--last' %}
        {% endif %}
        {% if block.type == 'usp-text' %}
          <div class="usp-4up__col usp-4up__col--text {{ even_odd }} {{ is_last }}">
            {% if block.settings.link %}
              <a class="usp-4up__link" href="{{ block.settings.link }}">
            {% endif %}
            <p class="usp-4up__text">
              {% if block.settings.badge %}
                <img class="usp-4up__image" src="{{ block.settings.badge | img_url: '170x170'  }}" alt="Face reality" />
              {% endif %}
              {{ block.settings.text }}
            </p>
            {% if block.settings.link %}
              </a>
            {% endif %}
          </div>
        {% elsif block.type == 'usp-icon' %}
          <div class="usp-4up__col usp-4up__col--icon {{ even_odd }} {{ is_last }}">
            {% if block.settings.link %}
              <a class="usp-4up__link" href="{{ block.settings.link }}">
            {% endif %}
              {% if block.settings.icon %}
                <span class="usp-4up__icon-wrap">
                  <img class="usp-4up__icon" src="{{ block.settings.icon | img_url: '90x' }}" alt="{{ block.settings.title }}"/>
                </span>
              {% endif %}
              <h3 class="usp-4up__title">{{ block.settings.title }}</h3>
            {% if block.settings.link %}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% if section.settings.button_text != '' %}
    <div class="usp-4up__button-wrap">
      <a class="usp-4up__button-link" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
    </div>
  {% endif %}
</section>

{% schema %}
  {
    "name": "USP 4-up",
    "blocks": [
      {
        "type": "usp-text",
        "name": "Text USP",
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "badge",
            "label": "Badge"
          },
          {
            "type": "url",
            "id": "link",
            "label": "link"
          }
        ]
      },
      {
        "type": "usp-icon",
        "name": "Icon USP",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "url",
            "id": "link",
            "label": "link"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }
    ],
    "presets": [{
        "name": "USP 4-up",
        "category": "Front Page"
    }]
  }
{% endschema %}
